body{
background-color: #F5F5F5;
font-family: Roboto,sans-serif;
}

li{
list-style-type: none;
}

ul{
margin: 0; /* Отступ слева в браузере IE и Opera */
padding: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

input::-webkit-input-placeholder{
color:#CCCCCC;
}

input::-moz-placeholder {
color: #CCCCCC;
}


input[type="radio"] {
    display:none;
}

.title{
font-family: Roboto,sans-serif;
font-style: normal;
font-weight: 100;
font-size: 100px;
line-height: 90px;
letter-spacing: -2.5px;
color: #CCCCCC;
width:245px;
height:100px;
margin:auto;
}

.main-controls_all{
width: 562px;
height: 66px;
background: white;
margin: auto;
box-shadow: inset 0px -1px 0px #E6E6E6;
}

.select-all-button{
position:absolute;
background: url("image/select-all@2x.png") no-repeat;
background-size: contain;
height: 16px;
width: 30px;
border:none;
text-indent: -9999px;
white-space: nowrap;
margin-left: 17px;
margin-top: 27px;
}

.main-controls_create-new-input{
margin-left: 62px;
border:none;
font-family: Roboto, sans-serif;
font-style: italic;
font-weight: 100;
font-size: 24px;
color: #CCCCCC;
width: 500px;
height: 62px;
}

.task-item_view{
display:flex;
width:562px;
height:64px;
background: white;
box-shadow: inset 0px -1px 0px #E6E6E6;
margin:auto;
}

.task-item_status{
width:40px;
height:40px;
margin-top: 11px;
}

.task-item_text{
margin-top: center;
margin-left: 10px;
flex-grow:1;
font-family: Roboto,sans-serif;
font-style: normal;
font-weight: 100;
font-size: 24px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: -0.6px;
color: #666666;
}

.task-item_delete{
background: url("image/close@2x.png") no-repeat;
background-size: contain;
text-indent: -9999px;
white-space: nowrap;
border:none;
width: 20px;
height: 20px;
margin-top: 22px;
margin-right: 11px;
}

.action-foot{
border:1px black solid;
width:562px;
height:43px;
margin:auto;
background: white;
box-shadow: inset 0px -1px 0px #E6E6E6;
border:none;
}

.todos_action-foot{
display: inline-block;
vertical-align:middle;
font-family: Roboto,sans-serif;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: -0.35px;
color: #888888;
}

.task-counter{
margin: 11px 0 0 12px;
width: 92px;
height: 21px;
}


.task-filter{
margin-left:95px;
width: 207px;
height: 40px;
}

.task-filter_text{
display:inline-block;
padding:10px 13px 9px 13px;
}

.task-clear-completed{
margin-left: 60px;
width:124px;
height:21px;
border:none;
background-color: white;

font-family: Roboto,sans-serif;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: -0.35px;
color: #888888;
white-space: nowrap;
}